bin/
activity_bag/
VersionMD5/
publish/
obj/
gen/
simulator/
download/
dynamic/Export/
FileMD5.json

# 忽略 Eclipse 项目文件
.settings/
.externalToolBuilders/

*.pyc
*.class
*.o
*.sln
.DS_Store

# 忽略 Python 二进制代码
*.py[cod]

# VS 编译目录
Debug.win32/
Release.win32/

#vs2017生成文件
.vs/

# 忽略 VS 更新日志
trunk/runtime/
*.VC.db

*.opensdf
*.sdf
*.suo

# 忽略 Android 项目下 动态生成的目录
/**/runtime-src/*/assets
/**/runtime-src/*/libs
#/**/runtime-src/*/res
/**/runtime-src/*/.project

LocalConfig.lua

# Lua项目文件
*.luaproj
*.config
*.luaproj.user

# 被忽略的项目文件，新下载的工程需要去拷贝一下
/**/runtime-src/proj.win32/*.sln
/**/runtime-src/proj.win32/*.vcxproj*
/**/proj.win32/*.VC.VC.opendb

*.log
/*.bat

# 忽略 Android-staudio 项目下 动态生成的目录
/**/runtime-src/proj.android-studio/app/assets
/**/runtime-src/proj.android-studio/app/libs
/**/runtime-src/proj.android-studio/app/build.xml
/**/runtime-src/proj.android-studio/app/proguard-project.txt
/**/runtime-src/proj.android-studio/.idea
*.iml


/**/proj.win32/Debug.win32/
/**/proj.win32/UpgradeLog*.htm
